{
  "proseWrap": "never",
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": false,
  "quoteProps": "consistent",
  "bracketSameLine": true,
  "endOfLine": "lf"
}
